:root{
    --cor-primaria: #FFF6ED;
    --cor-texto-primaria: #3E2C2C;
    --cor-secundaria: #E6C9A8;
    --cor-apoio: #F8D7DA;
    --cor-cta: #CBA35C;
}


.text-primaria {
    color: var(--cor-texto-primaria) !important;
}

.text-creme {
    color: var(--cor-primaria) !important;
}

.text-secundaria {
    color: var(--cor-secundaria);
}

.text-apoio {
    color: var(--cor-apoio) !important;
}

.text-cta {
    color: var(--cor-cta);
}





.bg-primaria {
    background-color: var(--cor-primaria);
}

.bg-secundaria {
    background-color: var(--cor-secundaria);
}

.bg-apoio {
    background-color: var(--cor-apoio);
}

.bg-cta {
    background-color: var(--cor-cta);
}











.btn-outline-primaria {
  --bs-btn-color: var(--cor-texto-primaria);
  --bs-btn-border-color: var(--cor-texto-primaria);

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--cor-texto-primaria);
  --bs-btn-hover-border-color: var(--cor-texto-primaria);

  --bs-btn-focus-shadow-rgb: 62, 44, 44;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--cor-texto-primaria);
  --bs-btn-active-border-color: var(--cor-texto-primaria);

  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: var(--cor-texto-primaria);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--cor-texto-primaria);

  --bs-gradient: none;
}


.btn-primaria {
  --bs-btn-color: #fff;

  --bs-btn-bg: var(--cor-cta);
  --bs-btn-border-color: var(--cor-cta);

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b8964f;
  --bs-btn-hover-border-color: #b8964f;

  --bs-btn-focus-shadow-rgb: 203, 163, 92;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a88445;
  --bs-btn-active-border-color: #a88445;

  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--cor-cta);
  --bs-btn-disabled-border-color: var(--cor-cta);
}