.btn-custom {
  width: 100%;
}

.sticky-lg {
  position: static;
}

@media (min-width: 992px) {

  .card2 {
        transform: scale(0.8);
    }
  .btn-custom {
    width: 25%;}
    
  .centralcard{
    margin: auto;
    width: 40%;
  }
  
  .iconblock{
    width: 75px;
  }

  .mt-6 {
    margin-top: 5.5em;
  }

  .sticky-lg {
    position: sticky;
    top: 100px;
  }

  .row {
    align-items: flex-start;
  }


}

.iconblock{
  width: 150px;
}

.produto-info {
  top: 100px;
}

.produto-card {
  overflow: hidden;
}


.overlay {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.4;
}



hr{
  display: none;
}

.logo {
    height: 40px;
    width: auto;
}


section{
  padding: 10px 0;
}
