body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.fs-gg {
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 600;
}

.fs-7 {
    font-size: 0.9em;
}


@media (min-width:992px){
    .fs-7 {
    font-size: 0.85em;
}
}